# Activer la réécriture des URL
RewriteEngine On

# Ne pas rediriger si le fichier ou le dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les autres requêtes vers index.html
RewriteRule ^ index.html [L]
